body {
  background: rgb(85, 136, 134);
  background: linear-gradient(90deg, rgba(85, 136, 134, 1) 0%, rgba(0, 109, 150, 1) 33%, rgba(25, 103, 133, 1) 56%, rgba(137, 217, 189, 1) 100%);
}
h1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

#calculateBtn {
  margin-top: 20px;
}

#result {
  margin-top: 20px;
}

.form-control {
  width: 100%;
}

.alert {
  text-align: center;
}

#calculateBtn {
  margin-top: 20px;
  transition: transform 0.2s ease-in-out;
}

#calculateBtn:hover {
  transform: scale(1.1);
}
